*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #D6FFE2;
    box-sizing: border-box;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.logoAlura{
    position: absolute;
    top: 40px;
    left: 40px;
}


.presentacionContenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textoIngresado{
    width: 500px;
    height: 300px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.863);
    border: 2px;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    text-align: left;
    border-radius: 5px;
}

#mensajeError{
    color: red;
    text-align: center;
}

.textareaDesencrip{
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
}

.presentacionEnlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botonEncripDesencrip{
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.dise単oBotones1, .dise単oBotones2 {
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.dise単oBotones1:hover, .dise単oBotones2:hover{
    background:#fff;
    color:#1AAB8A;
  }

.resultado{
    width: 400px;
    height: 600px;
    border-radius: 32px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.863);
    max-width: 600px;
    margin: auto;
}

.textareaDesencrip{
    width: 100%;
    height: 150px;
    padding: 0px;
    border: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
}

#imagen{
    display: block;
    max-width: 100%;
    height: auto;
}

.cajaMuneco{
    margin-top: 10px;
}

h2, p{
    text-align: center;
    margin: 10px;
}

.botonCopiar{
    background: #1AAB8A;
    padding: 20px;
    margin-left: 75px;
    display: none;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.footer{
    background-color: #EBFFF5;
    padding: 4px;
    text-align: center;
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .headerMenu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column;
        padding: 5%;
    }

    .logoAlura{
        position: initial;
    }

    .presentacionContenido{
        width: auto;
    }

}

@media (max-width: 375px)  {
    
    .botonEncripDesencrip{
        flex-direction: column;
    }

}